<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34669112744-7go2n8d16ud9outjsao8p3dg6d9d3dcm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34669112744-7go2n8d16ud9outjsao8p3dg6d9d3dcm</string>
	<key>API_KEY</key>
	<string>AIzaSyCsHtYC-kBUV3PiG8TZRqvL2-T03rdYijg</string>
	<key>GCM_SENDER_ID</key>
	<string>34669112744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petaniTambak</string>
	<key>PROJECT_ID</key>
	<string>petanitambak-cf143</string>
	<key>STORAGE_BUCKET</key>
	<string>petanitambak-cf143.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34669112744:ios:317b4adb9131221d2e419d</string>
</dict>
</plist>